$primary:#6f42c1;
$secondry:#d63384;
.bg-primary
{
background-color: #6f42c1 !important;
}
$maxMobile:"(max-width:767px)";
$minMobile:"(min-width:768px)";
$minmedium:"(min-width:992px)";
$minlarge:"(min-width:1200px)";